version: '3.8'

services:
  app:
    image: node-app-3225
    container_name: running-app
    ports:
      - "3225:3225"
    environment:
      - NODE_ENV=production
      - LOG_LEVEL=info
      - LOKI_HOST=http://172.19.0.2:3100
    networks:
      - monitoring
    restart: unless-stopped

networks:
  monitoring:
    external: true
    name: monitoring_default
